[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
camelot-py = {extras = ["cv"], version = "*"}
documentcloud = "*"
airtable-python-wrapper = "*"
pandas = "*"
goodtables = "*"

[requires]
python_version = "3.6"
